body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Georgia", serif;
  transition: backgrounds 1s ease;
  font-size: xx-large;
}
.quote-box {
  background: white;
  padding: 2rem 3rem;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 800px;
  padding: 50px;
  height: auto;
}
